<div class="card portCard">
  <div class="card-header text-teal">
    <a class="cardHeadLink" href="http://alyssakeimach.com/cloudnv/">CloudNV</a>
  </div>
  <div class="card-body">
  	<img class="img-fluid portCardBody" src="./assets/images/cloudNV.gif" alt="CloudNV"></img>
    <p class="card-text">Web application that takes pictures of clouds, identify them using Google Vision and returns descriptions of the cloud’s classes and genres using Wikipedia. Built with Bootstrap, HTML5, CSS3, Javascript and jQuery. Worked on the the drag and drop interface to get the picture of the clouds.</p>
    <a href="https://github.com/akeimach/cloudnv">Repository</a>
  </div>
</div>