<div class="card portCard">
  <div class="card-header text-teal">
    <a class="cardHeadLink" href="http://alyssakeimach.com/cloudnv/">CloudNV</a>
    <br/>
    <a href="https://github.com/akeimach/cloudnv">Repository</a>
  </div>
  <div class="card-body">
	  <section class="clearfix">
	  	<img class="img-fluid portCardPic left" src="./assets/images/cloudNV.gif" alt="CloudNV"></img>
			<p class="card-text"><i>Full-Stack Web Developer</i></p>
	    <p class="card-text">Web application that takes pictures of clouds, identify them using Google Vision and returns descriptions of the cloud’s classes and genres using Wikipedia. 
	    Built to be mobile responsive and prompts the user to be able to use their smartphone camera or images they have taken.</p>
	    <p class="card-text">I worked on the drag and drop interface to get the picture of the clouds. 
	    I spent a good amount of time getting smartphone pictures to orient correctly due to the way they store metadata not being directly compatible with browsers.</p>
	  </section>

	  <section>
	    <ul class="list-group-flush">
	    	<li class="list-group-item list-group-item-dark"><b>Technology used</b></li>
	    	<li class="list-group-item">Bootstrap with custom CSS used for styling and layout</li>
	    	<li class="list-group-item">jQuery used for frontend scripting</li>
	    	<li class="list-group-item">Google Vision API used for cloud identification</li>
	    	<li class="list-group-item">Wikipedia API used for information on clouds</li>
	    </ul>
	  </section>
  </div>
</div>