<div class="card portCard">
  <div class="card-header text-teal">
    <a class="cardHeadLink" href="http://made-alpha.herokuapp.com">MADE Colection Viewer</a>
  </div>
  <div class="card-body">
  	<img class="img-fluid portCardPic" src="./assets/images/publicSearch.gif" alt="MADE Public Search"></img>
    <p class="card-text">Web application to save and view game inventories. Made for the Museum of Art and Digital Entertainment.</p>
    <p class="card-text">Allows visitors to the MADE to view their collection of games. Staff of the made can use it to add and remove games from the inventory.</p>
    <a href="https://github.com/MADEcollection/MADE-Collection-Viewer">Repository</a>
  </div>
</div>