<div class="card portCard">
  <div class="card-header text-teal">
    <a class="cardHeadLink">Mígreni</a>
    <br/>
    <a href="https://github.com/Alferguson/migreni">Repository</a>
  </div>
  <div class="card-body">
	  <section class="clearfix">
	  	<img class="img-fluid portCardPic right" src="./assets/images/login-chart.gif" alt="Login"></img>
			<p class="card-text"><i>Full-Stack Web Developer</i></p>
	    <p class="card-text">Web application that allows users to log their migraines and view data about past migraines. 
	    Built to fulfill the need to log the intensity of migraines that no other applications cover. </p>
	    <p class="card-text">I worked on the database models, charts, user registration and login. 
	    The login was the most complicated part I worked on as it used a local strategy. 
	    I figured out how to hash the password and store the session in a cookie so the user would stay logged in.</p>
  	</section>

  	<section>
	    <ul class="list-group-flush">
	    	<li class="list-group-item list-group-item-dark"><b>Technology used</b></li>
	    	<li class="list-group-item">Bootstrap with custom CSS used for styling and layout</li>
	    	<li class="list-group-item">jQuery used for frontend scripting</li>
	    	<li class="list-group-item">Chart.js used for charts</li>
	    	<li class="list-group-item">MySQL with Sequelize for the database</li>
	    	<li class="list-group-item">Passport.js with user login stored in the database</li>
	    	<li class="list-group-item">Node.js with Express Server for the Backend</li>
	    </ul>
    </section>
  </div>
</div>