<div class="card portCard">
  <div class="card-header text-teal">
    <a class="cardHeadLink" href="https://glacial-fortress-86427.herokuapp.com/">Mígreni</a>
  </div>
  <div class="card-body">
  	<img class="img-fluid portCardPic" src="./assets/images/login-chart.gif" alt="Login"></img>
    <p class="card-text">Web application that allows users to log their migraines and view data about past migraines. Used a MySQL database with Sequelize running in Node.js. Passport.js was used for authentication. The frontend used Bootstrap, Chart.js, HTML5, CSS3 and jQuery. Worked on the database models, charts, user registration and login.</p>
    <a href="https://github.com/Alferguson/migreni">Repository</a>
  </div>
</div>