<aside class="col-md-auto p-0 ml-auto">
  <div class="card text-center">
    <div class="card-body p-4">
      <h3 class="text-teal">Connect with Me</h3>
      <hr>
      <a href="https://www.linkedin.com/in/anders-sajbel-a014015a" target="_blank">
	        <img class="icon" src ="assets\images\In-2C-128px-TM.png">
	      </a>
      <a href="https://github.com/asajbel" target="_blank">
	        <img class="icon" src ="assets/images/GitHub-Mark-120px-plus.png" width="60px">
	      </a>
      <a href="https://stackoverflow.com/users/8630411/anders?tab=profile" target="_blank">
	        <img class="icon" src ="assets/images/so-icon.png">
	      </a>
    </div>
  </div>
</aside>