<div class="card portCard">
  <div class="card-header text-teal">
    <a class="cardHeadLink">We're Screwed</a>
    <br/>
    <a href="https://sammys.soe.ucsc.edu/awards/2013-winners">2013 Sammy Award Winner: Visual Design</a>
  </div>
  <div class="card-body">
	  <section class="clearfix">
			<iframe class="youtube right" src="https://www.youtube.com/embed/0WRzde7iy_A" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
			<p class="card-text"><i>Game Developer / Git Master</i></p>
	    <p class="card-text">Made for my senior thesis at UC Santa Cruz. <i>We're Screwed</i> is a Java based video game built using the LibGDX framework. 
	    Created with a team of other students over the course of six months after a three-month period of prototyping and pitching ideas. 
	    The team used agile development planning with an emphasis on the scrum philosophy to manage the project. It won the award for artistic style as judged by a panel of faculty and industry veterans. 
	    Utilized the animation editor and framework Spine to create dynamic animations within the game. Was ported to the Ouya, but the system proved under powered to run the game. </p>
	    <p class="card-text">I worked mainly on the animation and particle system as well as the controls. 
	    The animation system was particularly complex as I had to integrate an external system that had just been released with minimal documentation.</p>
    </section>

    <section>
	    <ul class="list-group-flush">
	    	<li class="list-group-item list-group-item-dark"><b>Technology used</b></li>
	    	<li class="list-group-item">LibGDX for the game engine</li>
	    	<li class="list-group-item">Spine for animations</li>
	    	<li class="list-group-item">Converted XNA Level Editor</li>
	    </ul>
    </section>
  </div>
</div>