<div class="card portCard">
  <div class="card-header text-teal">
    We're Screwed
  </div>
  <div class="card-body">
		<iframe class="youtube" src="https://www.youtube.com/embed/0WRzde7iy_A" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    <p class="card-text">Made for my senior thesis at UC Santa Cruz. <i>We're Screwed</i> is a Java based video game built using the LibGDX framework. Created with a team of other students over the course of six months after a three month period of prototyping and pitching ideas. The team used agile development planning with an emphasis on the scrum philosophy to manage the project. It won the award for artistic style as judged by a panel of faculty and industry veterans. Utilized the animation editor and framework Spine to create dynamic animations within the game. Was ported to the Ouya, but the system proved underpowered to run the game. </p>
    <a href="https://sammys.soe.ucsc.edu/awards/2013-winners">2013 Sammy Award Winner: Visual Design</a>
  </div>
</div>