<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta description="Anders Sajbel Portfolio">
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Language" content="en-us">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Anders Sajbel{{#if title}}: {{title}}{{/if}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
  {{> header }}
  {{{ body }}}
  {{> footer }}
</body>

</html>