<div class="container">
  <section class="row">
    <article class="col-xl-9 col-lg-8 col-md-7 bg-white p-4">
      <h1 class="text-teal">About Me</h1>
      <hr>
      <div class="row">
        <div class="col-xl-12">
          <img class="profile" src="assets/images/Profile.jpg">
          <p>
            Currently living in Oakland, CA.
            <br>
            <br> I started programming in high school waking up early to go to zero period and learn C++. I eventually went to UC: Santa Cruz and graduated from their Computer Science: Game Design program.
            <br>
            <br> I spent my free time working with the Museum of Art and Digital Entertainment to educate the public on video game history and development.
            <br>
            <br> Finding games an unfulfilling use of my skills I went to a full-stack coding bootcamp. I want to use programming and technology to solve the world's problems and provide a better tomorrow for the planet.
          </p>
        </div>
    </article>
    {{> sidebar }}
  </section>
</div>