<div class="container">
	<section class="row">
		<article class="col-xl-9 col-lg-8 col-md-7 bg-white p-4">
			<h1 class = "text-teal">Portfolio</h1>
	    <hr>
			<div class="row">
				<div class="col-xl-6 col-lg-12 mb-4">
					{{> made }}
				</div>
				<div class="col-xl-6 col-lg-12 mb-4">
	    			{{> migreni }}
				</div>
			</div>
			<div class="row">
				<div class="col-xl-6 col-lg-12 mb-4">
					{{> cloudNV }}
				</div>
				<div class="col-xl-6 col-lg-12 mb-4">
					{{> werescrewed }}
				</div>
			</div>
		</article>

		{{> sidebar }}
	</section>
</div>