<div class="container">
	<section class="row">
		<article class="col-xl-9 col-lg-8 col-md-7 bg-white p-4">
			<h1 class = "text-teal">Portfolio</h1>
	      	<hr>
	      	<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-6">
			      	<a href = "https://en.wikipedia.org/wiki/Adam_Page_(wrestler)">
		          		<image class="portfolio img-fluid" src="assets/images/hangman.jpg" alt="Hangman"></image>
		          		<h3 class="portfolio bg-teal text-light">Hangman</h3>
			      	</a>
			    </div>
			    <div class="col-lg-6 col-md-12 col-sm-6">
			      	<a href = "https://en.wikipedia.org/wiki/The_New_Day_(wrestling)">
		          		<image class="portfolio img-fluid" src="assets/images/RPG.jpg" alt="RPG Game"></image>
		          		<h3 class="portfolio bg-teal text-light">RPG Game</h3>
			      	</a>
			    </div>
	      	</div>
	      	<div class="row">

			    <div class="col-lg-6 col-md-12 col-sm-6">
			      	<a href = "https://en.wikipedia.org/wiki/Mauro_Ranallo">
		          		<image class="portfolio img-fluid" src="assets/images/trivia.jpg" alt="Trivia Game"></image>
		          		<h3 class="portfolio bg-teal text-light">Trivia</h3>
			      	</a>
				</div>
			    <div class="col-lg-6 col-md-12 col-sm-6">
			      	<a href = "https://en.wikipedia.org/wiki/Lanny_Poffo">
		          		<image class="portfolio img-fluid" src="assets/images/rutgers.jpg" alt="Rutgers Info Widget"></image>
		          		<h3 class="portfolio bg-teal text-light">Rutgers Info Widget</h3>
			      	</a>
			    </div>
	      	</div>
	      	<div class="row">
		    	<div class="col-lg-6 col-md-12 col-sm-6">
			      	<a href = "https://en.wikipedia.org/wiki/Brutus_Beefcake">
		        	  	<image class="portfolio img-fluid" src="assets/images/RockPaperScissors.jpg" alt="Rock Paper Scissors"></image>
		          		<h3 class="portfolio bg-teal text-light">Rock Paper Scissors</h3>
			      	</a>
			    </div>
		    </div>
		</article>

		{{> sidebar }}
	</section>
</div>